@import '../../units.scss';
.officeControl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../../assets/img/bg-officeControl.jpg');
  height: 100%;
  padding-top: vw_d(204);

  &__title {
    font-weight: 600;
  }
  &__main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: vw_d(144);
    padding-right: vw_d(144);
    padding-top: vw_d(111);
    padding-bottom: vw_d(94);
    margin-bottom: vw_d(200);
    background-color: #fff;
    width: vw_d(1280);
    border-radius: 100px;
  }

  &__subTitle {
    width: vw_d(637);
    font-size: vw_d(40);
    margin-bottom: vw_d(100);
  }

  &__text {
    display: block;
    text-align: right;
    font-size: vw_d(26);
    margin-bottom: vw_d(57);
  }

  &__img {
    width: 100%;
  }

  &__imgFirst {
    margin-bottom: vw_d(83);
  }

  &__imgSecond {
    margin-bottom: vw_d(16);
  }

  &__textUnderPhoto {
    font-size: vw_d(20);
  }
  &__list {
    padding: 0;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: vw_d(100);
  }

  &__innerItem {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: vw_d(85);
  }

  &__itemText {
    margin-right: vw_d(63);
    text-align: right;
  }

  &__itemId {
    display: flex;
    align-items: center;
    font-size: vw_d(191);
    color: #dfd4ca;
    font-weight: 600;
    height: 90px;
  }

  &__footer {
    font-weight: 600;
    font-size: vw_d(30);
  }
}

@media (max-width: 992px) {
  .officeControl {
    &__text {
      font-size: vw_m(8);
    }

    &__main {
      width: vw_m(350);
    }

    &__textUnderPhoto {
      font-size: vw_m(7);
    }
  }
}

@media (max-width: 768px) {
  .officeControl {
    &__subTitle {
      font-size: vw_m(10);
    }
    &__itemId {
      height: vw_m(37);
    }

    &__text {
      font-size: vw_m(10);
    }

    &__textUnderPhoto {
      font-size: vw_m(8);
    }

    &__footer {
      font-size: vw_m(10);
    }
  }
}

@media (max-width: 576px) {
  .officeControl {
    &__subTitle {
      font-size: vw_m(14);
      width: 100%;
    }
    &__text {
      font-size: vw_m(16);
    }
    &__textUnderPhoto {
      font-size: vw_m(10);
    }
    &__footer {
      font-size: vw_m(14);
      padding-top: vw_m(12);
    }
    &__main {
      padding-bottom: vw_m(30);
      padding-top: vw_m(30);
    }
  }
}
