.officeControl {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  color: #000;

  z-index: 1;

  &__textBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__title {
    font-size: 63px;
    font-weight: 600;
    margin: 0;
  }

  &__text {
    width: 470px;
    font-size: 30px;
    text-align: center;
    margin: 0;
  }

  &__arrowDown {
    position: relative;
    top: 100px;
  }

  &__arrowDownImg {
    width: 30px;
  }
}
