@import '../../units.scss';
.filmSection {
  display: flex;
  height: 100vh;

  &__img {
    width: 95px;
  }

  &__leftBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #34535e;
  }

  &__rightBlock {
    background-size: cover;
  }

  &__rightBlock,
  &__leftBlock {
    width: 50%;
    height: 100%;
  }

  &__title {
    font-size: vw_d(60);
    width: vw_d(665);
    color: #fff;
  }
}

@media (max-width: 992px) {
  .filmSection {
    &__text {
      font-size: vw_m(8);
    }
  }
}

@media (max-width: 768px) {
  .filmSection {
    flex-direction: column-reverse;
    &__rightBlock,
    &__leftBlock {
      width: 100%;
    }

    &__rightBlock {
      background-size: cover;
      background-repeat: no-repeat;
      background-position-y: -140px;
    }

    &__text {
      font-size: vw_m(12);
    }
  }
}

@media (max-width: 576px) {
  .filmSection {
    &__title {
      font-size: vw_d(60);
    }
    &__rightBlock {
      background-size: cover;
      background-repeat: no-repeat;
      background-position-y: 0px;
    }
  }
}

@media (max-width: 360px) {
  .filmSection {
    &__title {
      width: 100%;
      font-size: vw_d(100);
    }
  }
}
