@import '../../units.scss';

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 28px 0px 23px;
  }
  &__logo {
    width: vw_d(235);
    z-index: 4;
  }

  &__buttons {
    display: flex;
    align-items: center;
    z-index: 4;
  }

  &__link {
    margin-right: 16.5px;
    &:last-child {
      margin-right: 0;
    }
  }

  &__linkImg {
    width: 22px;
  }
}
@media (max-width: 992px) {
  .header {
    &__logo {
      width: vw_m(80);
    }
  }
}

@media (max-width: 768px) {
  .header {
    &__logo {
      width: vw_m(100);
    }
  }
}
@media (max-width: 576px) {
  .header {
    &__logo {
      width: vw_m(120);
    }
  }
}

@media (max-width: 576px) {
  .header {
    &__logo {
      width: vw_m(150);
    }
  }
}
