@import '../../units.scss';
.designElement {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: vw_d(150);

  &__block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: vw_d(30);
  }
  &__title {
    width: vw_d(1082);
    margin-bottom: vw_d(15);
  }

  &__text {
    display: flex;
    justify-content: center;
    font-size: vw_d(30);
    width: vw_d(606);
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: vw_d(335);
    height: vw_d(335);
    background-color: #fff;
    overflow: hidden;
    border-radius: 15px;
    margin-bottom: vw_d(20);
    padding-bottom: vw_d(20);
    padding-top: vw_d(20);
  }

  &__img {
    height: vw_d(260);
  }

  &__itemTitle {
    font-weight: 600;
    padding-left: vw_d(40);
    padding-right: vw_d(40);
  }
}
@media (max-width: 1200px) {
  .designElement {
    &__item {
      height: vw_m(90);
      width: 100%;
    }
  }
}

@media (max-width: 992px) {
  .designElement {
    &__text {
      font-size: vw_m(8);
    }

    &__item {
      width: 100%;
      height: vw_m(100);
    }
  }
}

@media (max-width: 768px) {
  .designElement {
    &__item {
      width: 100%;
      height: vw_m(120);
      margin-bottom: vw_m(20);
    }

    &__text {
      font-size: vw_m(12);
    }

    &__img {
      height: vw_m(80);
    }
  }
}

@media (max-width: 576px) {
  .designElement {
    &__item {
      height: vw_m(150);
    }
    &__text {
      font-size: vw_m(16);
      top: 20px;
      width: 100%;
    }
    &__img {
      height: vw_m(100);
    }
  }
}

@media (max-width: 360px) {
  .designElement {
    &__item {
      height: vw_m(240);
    }
    &__img {
      height: vw_m(180);
    }
  }
}
