@import 'units';
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: auto;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style-type: none;
}

button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}

.App {
  text-align: center;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
}
.wrapper {
  background-image: url('./assets/img/items.png');
  background-size: cover;
}

.title {
  &--80 {
    color: #000;
    font-size: vw_d(80);
    font-weight: bold;
  }
  &--70 {
    font-size: vw_d(70);
    font-weight: 600;
  }
}

// Transition for buttons
$transitionBoxShadow: box-shadow 0.3s ease-in-out;
$transition: 0.2s ease-in-out;
.btn {
  &__outline {
    border: 2px solid #000;
    padding-left: 68px;
    padding-right: 68px;
    padding-top: 17px;
    padding-bottom: 17px;
    font-size: vw_d(27);
    font-weight: 600;
    transition: $transition;

    &:hover {
      background-color: #000;
      color: #fff;
    }
  }

  &__filled {
    background: #000;
    color: #fff;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 19px;
    padding-bottom: 19px;
    border-radius: 50px;
    font-size: vw_d(22);
    font-weight: bold;
    letter-spacing: 0.6px;
    box-shadow: 0 0 0 0pt #fff;
    transition: $transitionBoxShadow;

    &:hover {
      box-shadow: 0 0 0 3px #fff;
    }
  }
}

.svg {
  &__hover {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 0.4s;
    &:hover {
      transform: scale(1.05);
      path {
        fill: rgb(230, 230, 230);
      }
    }
  }

  &__hover--outline {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 0.4s;
    &:hover {
      transform: scale(1.1);
      fill: rgb(0, 34, 107);
    }
  }
}

.filmSection {
  &--1 {
    background-image: url('./assets/img/nameFilmBg.jpg');
  }

  &--2 {
    background-image: url('./assets/img/nameFilmBg2.jpg');
  }
  &--3 {
    background-image: url('./assets/img/nameFilmBg3.jpg');
  }
}

.form {
  &__block {
    width: 350px;
  }
}

@media (max-width: 992px) {
  .btn {
    &__outline,
    &__filled {
      font-size: vw_m(8);
    }
  }

  .title {
    &--80 {
      font-size: vw_m(18);
    }
    &--70 {
      font-size: vw_m(16);
    }

    &__title {
      font-size: vw_m(18);
    }
  }
}

@media (max-width: 768px) {
  .title {
    &__text {
      font-size: vw_m(12);
    }

    &--80 {
      font-size: vw_m(22);
    }
    &--70 {
      font-size: vw_m(20);
    }
  }
}

@media (max-width: 576px) {
  .form {
    &__block {
      width: 100%;
    }
  }
  .btn {
    &__outline,
    &__filled {
      font-size: vw_m(12);
    }
  }
  .title {
    &__text {
      font-size: vw_m(16);
      top: 20px;
    }

    &--80 {
      font-size: vw_m(26);
    }
    &--70 {
      font-size: vw_m(24);
    }
  }
}

@media (max-width: 360px) {
  .btn {
    &__outline,
    &__filled {
      font-size: vw_m(18);
    }
  }
  .title {
    &__text {
      font-size: vw_m(16);
      top: 20px;
    }

    &--80 {
      font-size: vw_m(30);
    }
    &--70 {
      font-size: vw_m(28);
    }
  }
}
