@font-face {
  font-family: 'HelveticaHebrew';
  src: url(./assets/fonts/HelveticaHebrew-Regular.ttf) format('opentype');
  font-weight: 400;
}
@font-face {
  font-family: 'HelveticaHebrew';
  src: url(./assets/fonts/HelveticaHebrew-Bold.ttf) format('opentype');
  font-weight: 600;
}
