@import '../../units.scss';
.withLink {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  color: #000;

  z-index: 1;

  &__textBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: vw_d(775);
  }

  &__text {
    font-size: vw_d(40);
    text-align: center;
    margin: 0;
  }

  &__arrowDown {
    position: relative;
    top: 100px;
  }

  &__arrowDownImg {
    width: 30px;
  }

  &__button {
    position: relative;
    top: 70px;
  }
}

@media (max-width: 992px) {
  .withLink {
    &__text {
      font-size: vw_m(8);
    }
  }
}

@media (max-width: 768px) {
  .withLink {
    &__text {
      font-size: vw_m(12);
    }
  }
}

@media (max-width: 576px) {
  .withLink {
    &__text {
      font-size: vw_m(16);
      top: 20px;
      width: 100%;
    }
    &__textBlock {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  }
}
